body {
    font-family: Noto Sans JP,sans-serif;
}

.modal {
    min-height: 100% !important;
    width: 100% !important;
    display:flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    margin: 0 auto;
    min-height: 100% !important;
}

#courseImage{
    height:inherit;
}

.modalTitle{
    font-size:27px;
    font-weight:600;
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,Calibri Light,Roboto,sans-serif;
    text-align: center;
}

.btn-floating{
    margin-left: 90%;
    background-color: #E8EEF2;
}

#close{
    background-color: #E8EEF2;
}

.modalDescription .btn {
    width:100%;
    line-height:48px;
    font-weight:500;
    font-size:16px;
    height:48px;
    border-radius:6px;
    background-color: #8795dd;
    text-transform: none;
}

.modalDescription .btn:hover{
    background-color: #8795dd;
}

.input-field{
    /* border:1px solid #5f5f5f; */
    border-radius:6px;
    font-size:16px;
    height:3em;
}

.modalDescription{
    font-size:17px;
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,Calibri Light,Roboto,sans-serif;
    color: #5f5f5f;
    margin-bottom:20px;
    line-height:1.5em;
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

nav{
    margin-top:2em;
    line-height:36px;
}

.course-image {
    object-fit: cover;
    height:180px;
    overflow: hidden;
    width: 100%;
    border-radius: 4px;
}

.myContainer{
    width:67%;
    margin: 0 auto;
}

.onlineText{
    color: #27303B !important;
    font-weight:700;
    border-radius: 4px;
    height:180px;
}

.onlineSubtext{
    font-size:18px;
    color:#a3afbf;
}

.onlineDescription{
    color:#526173;
    font-size: 18px;
}

nav ul a:hover {
    background-color: rgba(0, 0, 0, 0) !important;
}

.menu{
    font-weight: 700;
}

a{
    text-decoration: none;
    color:black;
}

.logo {
    height:36px;
    width:36px;
}

.card-content{
    height:400px !important;
}

.card-image{
    height:300px !important;
    overflow: hidden;
}

.card-title{
    color:rgb(39,48,59);
    font-weight: 700 !important;
    font-size: 28px;
}

.card-description{
    color: #526173;
    line-height: 32px;
    font-size: 18px;
}

.work .firstRow {
    margin-top: 5em;
}

.work .card {
    margin-top: 5em;
}

.particles{
    height:1300px;
    z-index: -1;
    position: absolute;
    width:100%;
}

.cover{
    min-height: 94vh;
}

.about{
    min-height: 64vh;
}

.aboutText{
    font-weight: 400;
    line-height: 43px;
    letter-spacing: -.2px;
}

.blog {
    min-height: calc(100vh);
}

.seeAllbtn{
    min-height: calc(12vh);
}

.courseSection{
    font-size: 48px;
    font-weight: 700;
    color: #27303B;
}

#onlinePhoto{
    height:100%;
    width:100%;
}

#seeAll{
    font-size: 16px;
    font-weight: 600;
    color:white;
    border-radius:30px;
    background-image: linear-gradient(-133deg,#7282eb,#74aee3);
    text-transform: none;
}

#seeAll2{
    text-transform:none;
    border:1px solid rgb(96,124,199);
    border-radius:30px;
    background-color: transparent;
    color: rgb(96,124,199);
    font-size:16px;
    font-weight:600;
    margin-left: 1em;
}

#seeAll:hover{
    transition: .45s;
    background-image: linear-gradient(-133deg,#7282eb,#7282eb);
}

.skills{
    margin-bottom:70px;
}

.workGrid{
    margin-top: 4em;
    margin-bottom: 4em;
}

.skillIcon{
    height:60px;
}

.skillText{
    margin-top:20px;
    font-size: 36px;
    font-weight: 700;
}

.skillDescription{
    color:#526173;
    font-size:18px;
    line-height: 32px;
    letter-spacing: -.2px;
}

.fixed{
    margin-top: 2px;
}

.circle{
    height:280px;
    width:280px;
}

.coverText{
    margin-bottom:3em;
    font-size: 67px;
    line-height: 1.4;
    font-weight: 900;
    color:#27303B;
}

.work{
    background-color:rgb(245, 247, 249);
}

.workCategory{
    font-size:12px;
    font-weight:600;
    color: rgb(163,175,191);
    margin-bottom:7px;
}

.workTitle{
    font-size:24px;
    line-height:34px;
    font-weight:700;
}

.workText{
    padding-top:1em;
    padding-bottom:4em;
    font-size:18px;
}

.workCover{
    padding-top: 2em;
    font-weight: 700;
    font-size:48px;
}

.blog, .talks{
    min-height: calc(100vh);
}

h5{
    font-size: 24px;
    font-weight: 700;
}

.connectText{
    margin-bottom: 25px;
    margin-top: 0;
    font-weight: 900;
    line-height: 1.4;
    font-size: 68px;
}

.connect{
    color:white;
    background-image: linear-gradient(-133deg,#7282eb,#74aee3);
    min-height: calc(94vh);
}

.socials{
    height:5em;
}

.specialContainer{
    width:20%;
    display:flex;
    justify-content: space-between;
    margin: 0 auto;
}

.page-footer{
    background-color: #27303b !important;
}

.footer-copyright{
    background-color: #1d262f !important;
}

.connectDescription{
    margin-bottom: 15px;
    line-height: 32px;
    letter-spacing: -.2px;
    width:500px;
    margin: 0 auto;
    font-size: 18px;
}

.row .col {
    padding-left: 0px;
    padding-right: 0px;
}

.horizontal {
    height:250px !important;
}

footer {
    min-height: calc(11vh);
}

#heart{
    color:#99a3e8;
}

#onlineCoursePhoto{
    height:100%;
    width:auto;
    overflow: hidden;
}

#particles-js{
    height:1350px;
    width:100%;
    z-index:-1;
    position: absolute;
}


#fixedImg{
    margin-top: 2.5em;
    position:fixed;
    height:56px;
    width:73px;
    left:0;
}

.bulb-ray {
    transition: fill .2s,transform .2s;
    transform: scale(0)
}

#skill-ui-icon:hover .bulb-ray {
    fill: var(--primary);
    transform: scale(1)
}

#bulb-ray1,#bulb-ray2 {
    transform-origin: center right
}

#bulb-ray3 {
    transform-origin: center bottom
}

#bulb-ray4,#bulb-ray5 {
    transform-origin: center left
}

#code-left,#code-right {
    transition: transform .2s
}

#skill-code-icon:hover #code-left {
    transform: translateX(-10px)
}

#skill-code-icon:hover #code-right {
    transform: translateX(10px)
}

#board-line1,#board-line2,#board-line3 {
    transition: transform .2s,opacity .1s
}

#skill-teacher-icon:hover #board-line1 {
    transform: scaleX(0);
    opacity: 0
}

#skill-teacher-icon:hover #board-line2 {
    transform: scaleX(0);
    transition-delay: 50ms;
    opacity: 0
}

#skill-teacher-icon:hover #board-line3 {
    transform: scaleX(0);
    transition-delay: .1s;
    opacity: 0
}

#skill-speaker-icon {
    transition: transform .2s
}

#skill-speaker-icon:hover {
    transform: rotate(-20deg)
}

/* @media (max-width: 990px) {
    .resizeimg {
      height: auto;
    }
  }
  
  @media (min-width: 1000px) {
    .resizeimg {
      width: auto;
      height: 350px;
    }
  } */